
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 40vh 90vh;
  cursor: pointer;
  transition: background-color 0.3s;
}

#btn:hover {
  background-color: #45a049;
}